body {
  background-color: #0D101C;
}

.container {
  width: 95%;
  background-color: #8FAFE8;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.clear {
  clear: both;
}

h1 {
  /*font-family: 'Ubuntu Mono';*/
  font-family: Courier;
}

a {
  text-decoration: none;
}

.small_head_space {
  min-height: 50px;
}

.far_left {
  width: 5%;
  float: left;
}

.left_spacer {
  background-color: #8FAFE8;
  min-height: 124px;
  width: 100%;
  float: left;
}

.nav_spacer {
  min-height: 62px;
  width: 100%;
  background-color: #414fbc;
  float: left;
}

.under_nav {
  min-height: 31px;
  width: 100%;
  background-color: #8FAFE8;
  float: left;
}

.headshot {
  width: 20%;
  float: left;
  background-color: white;
  min-height: 217px;
  box-shadow: inset 0 0 10px black;
}

.self_image {
  margin: 15px;
}

.head_right {
  float: left;
  width: 75%;
}

.name_title {
  float: left;
  width: 70%;
  background-color: #8FAFE8;
  min-height: 124px;
  text-align: center;
}

.social {
  width: 30%;
  float: left;
  background-color: #8FAFE8;
}

nav {
  min-height: 62px;
  background-color: #414fbc;
  width: 100%;
}

.nav_buffer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav_button {
  width: 24%;
  float: left;
  line-height: 60px;
  text-align: center;
  color: black;
  font-family: 'Ubuntu Mono';
  border: 1px solid #414fbc;
}

.nav_button:hover {
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.main_content {
  float: left;
  width: 58%;
  margin-left: 18%;
  margin-top: 25px;
  border-radius: 7px;
  background-color: #AAB2FF;
  padding: 7px;
  text-align: justify;
}

.about_sidebar {
  float: left;
  width: 18%;
  margin-top: 25px;
  margin-left: 2%;
  border-radius: 17px;
  padding: 7px;
  background-color: blue;
  min-height: 400px;
}

footer {
  margin-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}
