body {
  background-color: white;
}

.container {
  width: 95%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.clear {
  clear: both;
}

h1 {
  /*font-family: 'Ubuntu Mono';*/
  font-family: Courier;
}

a {
  text-decoration: none;
}

.small_head_space {
  min-height: 10px;
}

.namespace > a {
  color: black;
  font-style: none;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 120px;
}


/*.far_left {
  width: 5%;
  float: left;
}*/

/*.left_spacer {
  background-color: #8FAFE8;
  min-height: 124px;
  width: 100%;
  float: left;
}*/

/*.nav_spacer {
  min-height: 62px;
  width: 100%;
  background-color: #414fbc;
  float: left;
}*/

.under_nav {
  min-height: 31px;
  width: 100%;
/*  background-color: #8FAFE8;
*/  float: left;
}

.headshot {
  width: 20%;
  float: left;
  background-color: white;
  min-height: 217px;
  box-shadow: inset 0 0 10px black;
}

.self_image {
  margin: 15px;
}

.head_right {
  float: left;
  width: 75%;
}

.name_title {
  float: left;
  width: 70%;
  background-color: #8FAFE8;
  min-height: 124px;
  text-align: center;
}

.social {
  width: 30%;
  float: left;
  background-color: #8FAFE8;
}

nav {
  min-height: 31px;
  background-color: black;
  width: 100%;
}

.nav_buffer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav_button {
  width: 24%;
  float: left;
  line-height: 28px;
  text-align: center;
  color: white;
  font-family: Arial;
  border: 1px solid black;
}

.nav_button:hover {
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.main_content {
  width: 58%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.about_sidebar {
  float: left;
  width: 18%;
  margin-top: 25px;
  margin-left: 2%;
  border-radius: 17px;
  padding: 7px;
  background-color: #0b7bc9;
  /*min-height: 400px;*/
  text-align: center;
  color: white;
  font-family: Courier;
}

.copyright {
  float: left;
}

footer {
  position: fixed;
  bottom:0%;
  padding-bottom: 10px;
  text-align: right;
}
